<h1>Hello Crunch</h1>

<table>
	<h2>High frequency n-tuples: </h2>
	<%@metrics.each do |m|%>
	<%=m%><br>
	<%end%>
	<tr>
		<% @headers.each do |header| %>
			<th><%=header.to_s%></th>
		<%end%>
	</tr>
	<% @output.each do |row| %>
		<tr>
			<% row.each do |k, v|%>
				<td><%=v.to_s%></td>
			<%end%>
		</tr>
	<%end%>
</table>