<h1>Crunch: <%=@report.name%></h1>
<h3>From files: <%=@report.file_names.join(", ")%></h3>

<table>
	<tr>
		<% @headers.each do |header| %>
			<th><%=header.to_s%></th>
		<%end%>
	</tr>
	<% @output.each do |row| %>
		<tr>
			<% row.each do |k, v|%>
				<td><%=v.to_s%></td>
			<%end%>
		</tr>
	<%end%>
</table>